.grid-container-1 {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  padding: 2%;
}
.grid-item-1 {
  padding: 10%;
  text-align: center;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 33.333333333% 33.333333333% 33.333333333%;
  padding: 2%;
}

.grid-item-2 {
  padding: 20%;
  text-align: center;
}

.grid-item-3 {
  padding: 2%;
  text-align: center;
}

.classroomBox {
  margin: auto;
  text-align: center;
  width: 20%;
  background-color: rgb(255, 255, 255);
  padding: 1.5%;
  border-radius: 25px;
  border: 2px solid;
  border-color: #5f0096;
}

.squid {
  background-color: rgb(255, 255, 255);
  padding: 6%;
  border-radius: 25px;
  border: 2px solid;
  border-color: #49b8da;
}

.classControlses {
  background-color: rgb(255, 255, 255);
  padding: 1.5%;
  border-radius: 20px;
  border: 2px solid;
  border-color: #5f0096;
}

#class-list {
  background-color: #ffffff;
}

#playlist {
  background-color: #ffffff;
}

#classControls {
  width: 40%;
  margin-left: 5%;
  /* margin-top: 1%; */
  /* margin-right: 5%; */
  text-align: center;
  display: inline-block;
}

#classCodeText {
  padding: 2%;
}

#classCodeEnter {
  width: 50%;
  border-radius: 10px;
  /*border-color: #ffb78d;*/
  border-color: white;
  background-color: #dfdfdfdf;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 2%;
  font-family: 'Rubik', sans-serif;
  transition: border-color 0.5s;
}

#disableClassDescription {
  display: block;
  color: #5f0096;
  font-weight: bold;
}

#disableSongDescription {
  display: block;
  color: #009608;
  font-weight: bold;
}

#classCodeEnter:focus {
  outline: none;
  box-shadow: none;
  border-color: #5f0096;
}

#classCodeEnter:hover {
  border-color: #5f0096;
}

.musicControlses {
  background-color: rgb(255, 255, 255);
  padding: 1.5%;
  border-radius: 20px;
  border: 2px solid;
  border-color: #009608;
}

#musicControls {
  width: 40%;
  margin-left: 5%;
  /* margin-top: 1%; */
  /* margin-right: 5%; */
  text-align: center;
  display: inline-block;
}

#playlistCard {
  background-color: rgb(255, 255, 255);
  padding: 1.5%;
  border-radius: 20px;
  border: 2px solid;
  border-color: #bf1a02;
  text-align: left;
  width: 20%;
  margin-left: 15%;
  margin-top: 1%;
  display: none;
  /* margin-right: auto; */
}

/* Navbar */
#navbar1 {
  font-family: 'Libre Baskerville', serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* sign in box */
#signInBox {
  width: 20%;
  position: fixed;
  top: 30%;
  left: 40%;
  text-align: center;
}

#signOutButton {
  font-family: 'Windows 95';
}

#googleButton {
  margin: auto;
}


#searchWord {
  width: 90%;
  border-radius: 10px;
  /*border-color: #ffb78d;*/
  border-color: white;
  background-color: #dfdfdfdf;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 2%;
  font-family: 'Rubik', sans-serif;
  transition: border-color 0.5s;
}

#searchWord:focus {
  outline: none;
  box-shadow: none;
  border-color: #49b8da;
}

#searchWord:hover {
  border-color: #49b8da;
}


.button1 {
  width: 40%;
  font-family: 'Rubik', sans-serif;
  border-radius: 10px;
  /*border-color: #ffb78d;*/
  border-color: #49b8da;
  background-color: #dfdfdfdf;
  padding: 2%;
}

.button1:hover {
  background-color: #cfcfcf;
}

.button1:focus {
  outline: none;
  box-shadow: none;
}

.button2 {
  font-family: 'Rubik', sans-serif;
  border-radius: 10px;
  /*border-color: #ffb78d;*/
  border-color: #009608;
  background-color: #dfdfdfdf;
  padding: 2%;
}

.button2:hover {
  background-color: #cfcfcf;
}

.button2:focus {
  outline: none;
  box-shadow: none;
}

.button3 {
  width: 40%;
  font-family: 'Rubik', sans-serif;
  border-radius: 10px;
  /*border-color: #ffb78d;*/
  border-color: #5f0096;
  background-color: #dfdfdfdf;
  padding: 2%;
}

.button3:hover {
  background-color: #cfcfcf;
}

.button3:focus {
  outline: none;
  box-shadow: none;
}

#songChoiceBox1 {
  display: none;
  width: 50%;
  background-color: rgb(255, 255, 255);
  padding: 8%;
  border-radius: 25px;
  border: 2px solid #ffb78d;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: transform .2s;
}
#songChoiceBox2 {
  display: none;
  width: 50%;
  background-color: rgb(255, 255, 255);
  padding: 8%;
  border-radius: 25px;
  border: 2px solid #ffb78d;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: transform .2s;
}
#songChoiceBox3 {
  display: none;
  width: 50%;
  background-color: rgb(255, 255, 255);
  padding: 8%;
  border-radius: 25px;
  border: 2px solid #ffb78d;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: transform .2s;
}

#songChoiceBox1:hover {
  background-color: #ffebdbdf;
  transform: scale(1.07);
}

#songChoiceBox2:hover {
  background-color: #ffebdbdf;
  transform: scale(1.07);
}

#songChoiceBox3:hover {
  background-color: #ffebdbdf;
  transform: scale(1.07);
}

/* Verification Pop-up */
#verifyModal {
  text-align: center;
  font-family: 'Windows 95';
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 8%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

#modalContent {
  width: 45%;
  height: 15%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 3%;
  border-radius: 25px;
  border: 2px solid #49b8da;
}

.divider {
  width:6%;
  height:auto;
  display:inline-block;
}

#confirmSongPadding {
  padding: 2%;
}

#store_name {
  width: 0%;
  height: 0%;
  display: none;
}

/*
@font-face {
    font-family: 'Windows 95';
    src: url('../static/fonts/w-95-sans-serif.woff2') format('woff2'),
        url('../static/fonts/w-95-sans-serif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/

body {
  background-color: #dfdfdf;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}



.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}