:root {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid-container-1 {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  padding: 2%;
}

.grid-item-1 {
  text-align: center;
}

#player {
  bottom: 10;
  left: 10;
  position: fixed;
  z-index: 3000;

}
.grid-container-2 {
  display: grid;
  grid-template-columns: 33.333333333% 33.333333333% 33.333333333%;
  padding: 2%;
}

.grid-item-2 {
  padding: 20%;
  text-align: center;
}

.grid-item-3 {
  padding: 2%;
  text-align: center;
}

.grid-item-4 {
  padding: 2%;
  text-align: center;
  display: flex;
}

.classroomBox {
  margin: auto;
  text-align: center;
  width: 20%;
  background-color: rgb(255, 255, 255);
  padding: 1.5%;
  border-radius: 25px;
  border: 6px solid;
  border-color: #5f0096;
}

.squid {
  background-color: rgb(255, 255, 255);
  padding: 6%;
  border-radius: 25px;
  border: 6px solid;
  border-color: #49b8da;
}

.classControlses {
  background-color: rgb(255, 255, 255);
  padding: 1.5%;
  border-radius: 20px;
  border: 6px solid;
  border-color: #5f0096;
}

#class-list {
  background-color: #ffffff;
}

li {
  border-radius: 10px;
  border: 2px solid;
  /*border-color: #ffb78d;*/
  border-color: rgb(255, 190, 190);
  padding: 4%;
  width: 100%;
  margin:0 0 10px 0;
}

.playlistSongs1 {
  border-radius: 10px;
  border: 3px solid;
  background-color: #dfdfdfdf;
  border-color: #bf1a02;
  padding: 4%;
  width: 100%;
  margin:0 0 10px 0;
  transition: transform .2s;
}

.playlistSongs1:hover {
  background-color: #cfcfcf;
  transform: scale(1.03);
}

.playlistSongs1:focus {
  outline: none;
  box-shadow: none;
}

.playlistSongs2 {
  border-radius: 10px;
  border: 3px solid;
  background-color: #dfdfdfdf;
  border-color: #f7ef00;
  padding: 4%;
  width: 100%;
  margin:0 0 10px 0;
  transition: transform .2s;
}

.playlistSongs2:hover {
  background-color: #cfcfcf;
  transform: scale(1.03);
}

.playlistSongs2:focus {
  outline: none;
  box-shadow: none;
}

#playlist {
  background-color: #ffffff;
  padding: 2%;
  list-style-type: none;
}

#class-list {
  background-color: #ffffff;
  padding: 2%;
  list-style-type: none;
}

#classControls {
  width: 40%;
  margin-left: 5%;
  /* margin-top: 1%; */
  /* margin-right: 5%; */
  text-align: center;
  display: inline-block;
}

#classCodeText {
  padding: 2%;
}

#classCodeEnter {
  width: 50%;
  border-radius: 10px;
  /*border-color: #ffb78d;*/
  background-color: #dfdfdfdf;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid;
  border-color: white;
  padding: 2%;
  font-family: 'Rubik', sans-serif;
  transition: border-color 0.5s, transform .2s;
}

#disableClassDescription {
  display: block;
  color: #5f0096;
  font-weight: bold;
}

#disableSongDescription {
  display: block;
  color: #009608;
  font-weight: bold;
}

#classCodeEnter:focus {
  outline: none;
  box-shadow: none;
  border-color: #5f0096;
  transform: scale(1.02);
}

#classCodeEnter:hover {
  border-color: #5f0096;
}

#classCodeEnter:visited {
  border-color: white;
}

#selectClass{
  width: 50%;
  border-radius: 10px;
  background-color: #dfdfdfdf;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid;
  border-color: white;
  padding: 2%;
  font-family: 'Rubik', sans-serif;
  transition: border-color 0.5s, transform 0.005s;
}

#selectClass:focus {
  outline: none;
  box-shadow: none;
  border-color: #5f0096;
  transform: scale(1.01);
}

#selectClass:hover {
  border-color: #5f0096;
}

#selectClass:visited {
  border-color: white;
}

.musicControlses {
  background-color: rgb(255, 255, 255);
  padding: 1.5%;
  border-radius: 20px;
  border: 6px solid;
  border-color: #009608;
}

.signInBox {
  background-color: rgb(255, 255, 255);
  padding: 1.5%;
  border-radius: 20px;
  position: relative;
  border: 6px solid;
  border-color: #e7e7e7;
}

#signInTitle {
  font-size: 120%;
}

#musicControls {
  width: 40%;
  margin-left: 5%;
  /* margin-top: 1%; */
  /* margin-right: 5%; */
  text-align: center;
  display: inline-block;
}

#playlistCard {
  background-color: rgb(255, 255, 255);
  padding: 1.5%;
  border-radius: 20px;
  border: 6px solid;
  border-color: #bf1a02;
  text-align: center;
  width: 50%;
  /*margin-left: 15%;*/
  margin-top: 1%;
  vertical-align: top;
  display: none;
  /* margin-right: auto; */
}


/*
  background-color: rgb(255, 255, 255);
  padding: 1.5%;
  border-radius: 20px;
  border: 2px solid;
  border-color: #009608;*/

#studentCard {
  background-color: rgb(255, 255, 255);
  padding: 1.5%;
  border-radius: 20px;
  border: 6px solid;
  border-color: #f7ef00;
  /*border-color: #e07400;*/
  text-align: center;
  width: 50%;
  /*margin-left: 15%;*/
  margin-top: 1%;
  vertical-align: top;
  display: none;
  /* margin-right: auto; */
}

/* Navbar */
#navbar1 {
  font-family: 'Libre Baskerville', serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navbarstyling {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* sign in box */
#signInBox {
  width: 20%;
  position: fixed;
  top: 30%;
  left: 38%;
  text-align: center;
}

#googleButton {
  margin: auto;
}

#searchWord {
  width: 90%;
  border-radius: 10px;
  /*border-color: #ffb78d;*/
  background-color: #dfdfdfdf;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid;
  border-color: white;
  padding: 2%;
  font-family: 'Rubik', sans-serif;
  transition: border-color 0.5s, transform 0.2s;
}

#searchWord:focus {
  outline: none;
  box-shadow: none;
  border-color: #49b8da;
  transform: scale(1.02);
}

#searchWord:hover {
  border-color: #49b8da;
}

#searchWord:visited {
  border-color: white;
}

#changeClassName {
  width: 40%;
  border-radius: 10px;
  /*border-color: #ffb78d;*/
  background-color: #dfdfdfdf;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid;
  border-color: white;
  padding: 2%;
  font-family: 'Rubik', sans-serif;
  transition: border-color 0.5s, transform .2s;
}

#changeClassName:focus {
  outline: none;
  box-shadow: none;
  border-color: #5f0096;
  transform: scale(1.02);
}

#changeClassName:hover {
  border-color: #5f0096;
}

#changeClassName:visited {
  border-color: white;
}

#signOutButton {
  display: inline-block;
  background: white;
  color: #444;
  width: 9%;
  /* height: 1%; */
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  transition: transform .2s;
  padding: 0.6%;
}

#signOutButton:hover {
  cursor: pointer;
  background-color: #cfcfcf;
  transform: scale(1.05);
}

#signOutButton:focus {
  outline: none;
  box-shadow: none;
}

#loginButton {
  display: inline-block;
  background: white;
  color: #444;
  width: 70%;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  transition: transform .2s;
  padding: 2%;
}

#loginButton:hover {
  cursor: pointer;
  background-color: #cfcfcf;
  transform: scale(1.05);
}

#loginButton:focus {
  outline: none;
  box-shadow: none;
}

#signInOutText {
  display: inline-block;
  margin: auto;
  vertical-align: top;
}

#googleIcon {
  background-image: url('/static/images/google.png');
  background-size: cover;
  background-size: 99%;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: auto;
  vertical-align: top;
}

.button1 {
  width: 40%;
  font-family: 'Rubik', sans-serif;
  border-radius: 10px;
  border: 3px solid;
  /*border-color: #ffb78d;*/
  border-color: #49b8da;
  background-color: #dfdfdfdf;
  padding: 2%;
  transition: transform .2s;
}

.button1:hover {
  background-color: #cfcfcf;
  transform: scale(1.03);
  cursor: pointer;
}

.button1:focus {
  outline: none;
  box-shadow: none;
}

.button2 {
  font-family: 'Rubik', sans-serif;
  border-radius: 10px;
  border: 3px solid;
  /*border-color: #ffb78d;*/
  border-color: #009608;
  background-color: #dfdfdfdf;
  padding: 2%;
  transition: transform .2s;
}

.button2:hover {
  background-color: #cfcfcf;
  transform: scale(1.03);
  cursor: pointer;
}

.button2:focus {
  outline: none;
  box-shadow: none;
}

.button2b {
  width: 40%;
  font-family: 'Rubik', sans-serif;
  border-radius: 10px;
  border: 3px solid;
  /*border-color: #ffb78d;*/
  border-color: #009608;
  background-color: #dfdfdfdf;
  padding: 2%;
  transition: transform .2s;
}

.button2b:hover {
  background-color: #cfcfcf;
  transform: scale(1.03);
  cursor: pointer;
}

.button2b:focus {
  outline: none;
  box-shadow: none;
}

.button3 {
  width: 40%;
  font-family: 'Rubik', sans-serif;
  border-radius: 10px;
  border: 3px solid;
  /*border-color: #ffb78d;*/
  border-color: #5f0096;
  background-color: #dfdfdfdf;
  padding: 2%;
  transition: transform .2s;
}

.button3:hover {
  background-color: #cfcfcf;
  transform: scale(1.03);
  cursor: pointer;
}

.button3:focus {
  outline: none;
  box-shadow: none;
}

.button4 {
  width: 40%;
  font-family: 'Rubik', sans-serif;
  border-radius: 10px;
  border: 3px solid;
  /*border-color: #ffb78d;*/
  border-color: #bf1a02;
  background-color: #dfdfdfdf;
  padding: 2%;
  transition: transform .2s;
}

.button4:hover {
  background-color: #cfcfcf;
  transform: scale(1.03);
  cursor: pointer;
}

.button4:focus {
  outline: none;
  box-shadow: none;
}

.button5 {
  width: 40%;
  font-family: 'Rubik', sans-serif;
  border-radius: 10px;
  border: 3px solid;
  /*border-color: #ffb78d;*/
  border-color: #f7ef00;
  background-color: #dfdfdfdf;
  padding: 2%;
  transition: transform .2s;
}

.button5:hover {
  background-color: #cfcfcf;
  transform: scale(1.03);
  cursor: pointer;
}

.button5:focus {
  outline: none;
  box-shadow: none;
}

#confirmSong {
  border-color: #b3b3b3;
}

#songChoiceBox1 {
  display: none;
  width: 50%;
  background-color: rgb(255, 255, 255);
  padding: 8%;
  border-radius: 25px;
  border: 6px solid #ffb78d;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: transform .2s;
}
#songChoiceBox2 {
  display: none;
  width: 50%;
  background-color: rgb(255, 255, 255);
  padding: 8%;
  border-radius: 25px;
  border: 6px solid #ffb78d;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: transform .2s;
}
#songChoiceBox3 {
  display: none;
  width: 50%;
  background-color: rgb(255, 255, 255);
  padding: 8%;
  border-radius: 25px;
  border: 6px solid #ffb78d;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: transform .2s;
}

#songChoiceBox1:hover {
  background-color: #ffebdbdf;
  transform: scale(1.07);
  cursor: pointer;
}

#songChoiceBox2:hover {
  background-color: #ffebdbdf;
  transform: scale(1.07);
  cursor: pointer;
}

#songChoiceBox3:hover {
  background-color: #ffebdbdf;
  transform: scale(1.07);
  cursor: pointer;
}

/* Verification Pop-up */
#verifyModal {
  text-align: center;
  font-family: 'Windows 95';
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 8%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}


#songOptionsModal {
  text-align: center;
  font-family: 'Windows 95';
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 8%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

#studentOptionsModal {
  text-align: center;
  font-family: 'Windows 95';
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 8%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

#confirmClearModal {
  text-align: center;
  font-family: 'Windows 95';
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 8%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

#modalContent {
  width: 45%;
  height: 15%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 3%;
  border-radius: 25px;
  border: 6px solid #49b8da;
}

#songOptionsContent {
  width: 45%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 3%;
  border-radius: 25px;
  border: 6px solid #bf1a02;
}

#studentOptionsContent {
  width: 45%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 3%;
  border-radius: 25px;
  border: 6px solid #f7ef00;
}

#confirmClearContent {
  width: 45%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 3%;
  border-radius: 25px;
  border: 6px solid #009608;
}

.songSubmission {
  width: 30%;
  margin: auto;
  background-color: rgb(250, 250, 250);
  padding: 3%;
  border-radius: 15px;
  border: 2px solid #bf1a02;
  display: inline-block;
  vertical-align: top;
}

.studentSubmission {
  width: 30%;
  margin: auto;
  background-color: rgb(250, 250, 250);
  padding: 3%;
  border-radius: 15px;
  border: 2px solid #f7ef00;
  display: inline-block;
  vertical-align: top;
}

.divider {
  width: 6%;
  height: auto;
  display: inline-block;
}

.divider2 {
  width: auto;
  height: 6%;
  display: inline-block;
}

.divider3 {
  width: 28%;
  height: auto;
  display: inline-block;
}

.divider4 {
  width: auto;
  height: 1%;
  display: inline-block;
}

.divider5 {
  width: auto;
  height: 300px;
  display: inline-block;
}

.section {
  display: inline-block;
  width: 50%;
  height: auto;
}

#confirmSongPadding {
  padding: 2%;
}

#songOptionsPadding {
  padding: 2%;
}

#store_name {
  width: 0%;
  height: 0%;
  display: none;
}

/*
@font-face {
    font-family: 'Windows 95';
    src: url('../static/fonts/w-95-sans-serif.woff2') format('woff2'),
        url('../static/fonts/w-95-sans-serif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/

body {
  background-color: #dfdfdf;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}



.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}